
<div id="students">
</div>


<div class="mainWrap">

  <div class="headline">
    <div class="startButton"><a href="#">
      <%= image_tag 'button.png', id: "start" %>
    </div></a>
    <div>
      <h1>Start something Powerful</h1>
    </div>
    <div class="logo">
      <%= image_tag 'iron-yard-logo-finalWht.png', id: "start" %>
    </div>
  </div>
</div>

<script id="studentTemplate" type="text/template">

    <li><img id="student <%%= id %>" src="https://s3.amazonaws.com/uploads.hipchat.com/31349/896468/tSdgDEce3NmZIZK/large-headshot-placeholder.png"/></li>

</script>
