<div class="container">

<header class = "topNav">
  <nav class="views">
    <a href="#fee" id="fee">Front End Engineering</a>
    <a href="#ror" id="ror">Ruby on Rails</a>
    <a href="#directory" id="directory">Return</a>
  </nav>
  <div id="campusHead">
    <h2>the iron yard academy durham cohort 1</h2>
  </div>
</header>

<div id="students">
</div>

<div id="profile">
</div>

  <div class="mainWrap">

    <div class="headline">
      <div class="startButton"><a href="#">
        <%= image_tag 'button.png', id: "start" %>
      </div></a>
      <div>
        <h1>Start something Powerful.</h1>
      </div>
      <div class="logo">
        <%= image_tag 'iron-yard-logo-finalWht.png', id: "start" %>
      </div>
    </div>
      <div>
        <video id="bgVideo" src="http://cl.ly/1H3b2u0m3v0b/download/4915400.mp4" autoplay="true" loop="true" muted="true"></video>
      </div>

  </div>
</div>

<script id="studentTemplate" type="text/template">
  <a href="/#students/<%%= id %>">
    <img id="student<%%= id %>" src="<%%= photo.thumb.url %>"/>
  </a>
</script>
<script id="profileTemplate" type="text/template">

  <div class="profile">
    <div class="ribbon-wrapper"><div class="ribbon">RoR</div></div>
    <div class="student-image">
      <img id="student<%%= id %>" src="<%%= photo.url %>"/>
    </div>
    <div class="profile-header">
      <h1><%%= name %></h1>
    </div>
    <div class="profile-copy">
      <p><%%= description %></p>
    </div>
    <div class="student-stats">
      <ul>
        <li><span><p><%%= website %></p></span></li>
        <li><span><p><%%= twitter %></p></span></li>
        <li><span><p><%%= linkedin %></p></span></li>
        <li><span><p><%%= github %></p></span></li>
        <li><span><p><%%= linkedin %></p></span></li>
      </ul>
    </div>
  </div>
</script>

</div>
