<div class="container">

<header class = "topNav">
  <nav class="views">
    <button id='feeStudents'>Font End Eng. Class</button>
    <button id='rorStudents'>Ruby on Rails Class</button>
    <button id='backBtn'>Return</button>
  </nav>
  <div id="campusHead">
    <h2>the iron yard academy durham cohort 1</h2>
  </div>
</header>


<div id="students">
</div>


<div class="mainWrap">


    <div class="startButton"><a href="#">
      <%= image_tag 'button.png', id: "start" %>
    </div></a>
    <div>
      <h1>Start Something Powerful.</h1>
    </div>
    <div class="logo">
      <%= image_tag 'iron-yard-logo-finalWht.png', id: "start" %>
    </div>

    <div>
      <video id="bgVideo" src="http://cl.ly/1H3b2u0m3v0b/download/4915400.mp4" autoplay="true" loop="true" muted="true"></video>
    </div>

</div>

<script id="studentTemplate" type="text/template">

    <img id="student<%%= id %>" src="https://s3.amazonaws.com/uploads.hipchat.com/31349/896468/tSdgDEce3NmZIZK/large-headshot-placeholder.png"/>

  <a href="/#students/<%%= id %>">
    <img id="student<%%= id %>" src="<%%= photo.url %>"/>
  </a>
</script>

<script id="profileTemplate" type="text/template">

  <div class="profile">
    <div class="ribbon-wrapper"><div class="ribbon">RoR</div></div>
    <div class="student-image">
      <img id="student<%%= id %>" src="<%%= photo.url %>"/>
    </div>
    <div class="profile-header">
      <h1><%%= name %></h1>
    </div>
    <div class="profile-copy">
      <p><%%= description %></p>
    </div>
    <div class="student-stats">
      <ul>
        <li><span><p><%%= website %></p></span></li>
        <li><span><p><%%= twitter %></p></span></li>
        <li><span><p><%%= linkedin %></p></span></li>
        <li><span><p><%%= github %></p></span></li>
        <li><span><p><%%= linkedin %></p></span></li>
      </ul>
    </div>
  </div>
</script>

</div>
