<div id="students">
</div>

<div class="mainWrap">

  <div class="headline">
    <div class="startButton"><a href="#">
      <%= image_tag 'button.png', id: 'start' %>
    </div></a>
    <div>
      <h1>Start something Powerful</h1>
    </div>
    <div class="logo">
      <%= image_tag 'iron-yard-logo-finalWht.png', id: "start" %>
    </div>
  </div>
    <div>
      <video id="bgVideo" src="http://cl.ly/2S0G0n043f0x/download/2227915.mp4" autoplay="true" loop="true" muted="true"></video>
    </div>

</div>

<div id="profile">
</div>

<script id="studentTemplate" type="text/template">
  <a href="/#students/<%%= id %>">
    <img id="student<%%= id %>" src="<%%= photo.url %>"/>
  </a>
</script>
<script id="profileTemplate" type="text/template">
  <img id="student<%%= id %>" src="<%%= photo.url %>"/>
  <h1><%%= name %></h1>
  <p><%%= website %></p>
  <p><%%= twitter %></p>
  <p><%%= linkedin %></p>
  <p><%%= github %></p>
  <p><%%= description %></p>
</script>
