<div class="container">

<header class = "topNav">
  <nav class="views">
    <a href="#fee" id="fee">Front End Engineering</a>
    <a href="#ror" id="ror">Ruby on Rails</a>
    <a href="#directory" id="directory">Return</a>
  </nav>
  <div id="campusHead">
    <h2>the iron yard academy durham cohort 1</h2>
  </div>
</header>

<div id="students">
</div>

<div id="profile">
</div>

  <div class="mainWrap">

    <div class="headline">
      <div class="startButton"><a href="#">
        <%= image_tag 'button.png', id: "start" %>
      </div></a>
      <div>
        <h1>Start something Powerful.</h1>
      </div>
      <div class="logo">
        <%= image_tag 'iron-yard-logo-finalWht.png', id: "start" %>
      </div>
    </div>
      <div>
        <video id="bgVideo" src="http://cl.ly/1H3b2u0m3v0b/download/4915400.mp4" autoplay="true" loop="true" muted="true"></video>
      </div>

  </div>
</div>

<script id="studentTemplate" type="text/template">
  <div id="<%%= id %>" class="hover-tile-outer" style="background-image: url('<%%= photo.url %>')">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible">
        <%%= name %>
      </div>
      <div class="hover-tile hover-tile-hidden">
        <h4></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, hic, dolore, labore,provident eligendi fugiat ad exercitationem.</p>
      </div>
    </div>
  </div>
</script>

<script id="profileTemplate" type="text/template">
<div class="card">
  <div class="card-image">
    <img src="<%%= photo.url %>" alt="">
  </div>
  <div class="card-header">
    <%%= name %>
  </div>
  <div class="card-copy">
    <p><%%= description %></p>
  </div>
  <div class="card-stats">
    <ul>
      <li><a href="<%%= twitter %>"><i class="fa fa-twitter"></i></a></li>
      <li><a href="<%%= linkedin %>"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="<%%= github %>"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</div>
</script>

<script id="#profileTemplate" type="text/template">
  <div class="side-image">
      <div class="content">
        <h4><%%= group === 'ror' ? 'Ruby on Rails' : 'Front End Engineering' %></h4>
        <h1><%%= name %></h1>
        <p><%%= description %></p>
        <a href="<%%= website %>">Personal Website</a>
        <a href="<%%= twitter %>">Twitter</a>
        <a href="<%%= linkedin %>">LinkedIn</a>
        <a href="<%%= github %>">Github</a>
    </div>
  </div>
</script>
