<div class="container">

<header class = "topNav">
  <nav class="views">
    <button id='feeStudents'>Font End Eng. Class</button>
    <button id='rorStudents'>Ruby on Rails Class</button>
    <button id='backBtn'><a href="#directory">Return</a></button>
  </nav>
  <div id="campusHead">
    <h2>the iron yard academy durham cohort 1</h2>
  </div>
</header>

<div id="students">
</div>

<div id="profile">
</div>

  <div class="mainWrap">

    <div class="headline">
      <div class="startButton"><a href="#">
        <%= image_tag 'button.png', id: "start" %>
      </div></a>
      <div>
        <h1>Start something Powerful.</h1>
      </div>
      <div class="logo">
        <%= image_tag 'iron-yard-logo-finalWht.png', id: "start" %>
      </div>
    </div>
      <div>
        <video id="bgVideo" src="http://cl.ly/1H3b2u0m3v0b/download/4915400.mp4" autoplay="true" loop="true" muted="true"></video>
      </div>

  </div>
</div>

<script id="studentTemplate" type="text/template">
  <a href="/#students/<%%= id %>">
    <img id="student<%%= id %>" src="<%%= photo.thumb.url %>"/>
  </a>
</script>
<script id="profileTemplate" type="text/template">
  <img id="student<%%= id %>" src="<%%= photo.url %>"/>
  <h1><%%= name %></h1>
  <h2><%%= group %></h2>
  <p><%%= website %></p>
  <p><%%= twitter %></p>
  <p><%%= linkedin %></p>
  <p><%%= github %></p>
  <p><%%= description %></p>
</script>



<!-- <header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag 'tiy-headLogo.png', id: "start" %>
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="">
          </button>
        </div>
      </div>
      <a href="javascript:void(0)" class="sign-up">LOGIN</a>
    </div>
  </div>
</header> -->
