<div class="container">

<header class = "topNav">
  <nav class="views">
    <button id='feeStudents'>Font End Eng. Class</button>
    <button id='rorStudents'>Ruby on Rails Class</button>
    <button id='backBtn'>Return</button>
  </nav>
  <div id="campusHead">
    <h2>the iron yard academy durham cohort 1</h2>
  </div>
</header>


<div id="students">
</div>


<div class="mainWrap">

  <div class="headline">
    <div class="startButton"><a href="#">
      <%= image_tag 'button.png', id: "start" %>
    </div></a>
    <div>
      <h1>Start something Powerful.</h1>
    </div>
    <div class="logo">
      <%= image_tag 'iron-yard-logo-finalWht.png', id: "start" %>
    </div>
  </div>
    <div>
      <video id="bgVideo" src="http://cl.ly/1H3b2u0m3v0b/download/4915400.mp4" autoplay="true" loop="true" muted="true"></video>
    </div>

</div>

<script id="studentTemplate" type="text/template">
    <img id="student<%%= id %>" src="https://s3.amazonaws.com/uploads.hipchat.com/31349/896468/tSdgDEce3NmZIZK/large-headshot-placeholder.png"/>
</script>
</div>



<!-- <header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag 'tiy-headLogo.png', id: "start" %>
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="">
          </button>
        </div>
      </div>
      <a href="javascript:void(0)" class="sign-up">LOGIN</a>
    </div>
  </div>
</header> -->
