<button id="start">Start</button>
<div id="students">
</div>
<script id="studentTemplate" type="text/template">
  <ul>
    <li><img id="student<%%= id %>" src="https://s3.amazonaws.com/uploads.hipchat.com/31349/896468/tSdgDEce3NmZIZK/large-headshot-placeholder.png"/></li>
  </ul>
</script>
