<div id="students">
</div>

<div class="mainWrap">
  <container class="vidContainer">
    <section>
      <a href="#"><div class="startButton">
        <%= image_tag 'button.png', id: 'start' %>
      </div></a>

      <div class="headline">

        <div><h1>Start something Powerful</h1></div>
        <div class="logo">
          <%= image_tag 'iron-yard-logo-final.png' %>
        </div>
      </container>
    </section>
  </div>
</div>

<script id="studentTemplate" type="text/template">
    <img id="student<%%= id %>" src="https://s3.amazonaws.com/uploads.hipchat.com/31349/896468/tSdgDEce3NmZIZK/large-headshot-placeholder.png"/>
</script>
