// Custom Styles
.container {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

#bgVideo {
  width: 100%;
}

.mainWrap  {
  position: relative;
}

.startButton  {
  width: 112px;
  margin-top: 80px;
  margin-left: 80px;

  img {
    width: 112px;

    .headline {
      width: 75%;
      margin-left: 80px;
      top: 30px;
      text-shadow: 1px 2px black;
      @include outer-container;
      overflow: hidden;
    }
  }
}

h1 {
  font-size: 3.15em;
  color: white;
  overflow: hidden;
}

.logo img {
  width: 70px;
  margin-left: 28px;
  float: left;
}

/* @include outer-container; */
header  {
  width: 100%;
  height: 75px;
  background-color: #666;
/*   position: absolute;
 */
    #campusHead {
      color: white;
      text-transform: uppercase;
    }
  }

a{
  padding: 0;
}
a #fee {
  background-color: #f9d641;
  @include span-columns(1);
  text-align: center;
}

a #ror {
  background-color: #f9d641;
  @include span-columns(1);
}

a #directory {
  background-color: #999;
  @include span-columns(1);
}

#students {
  @include outer-container;
  max-width: 100%;
  margin: 0;
}
