// Custom Styles
.container {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

#bgVideo {
  width: 100%;
}

.mainWrap  {
  position: relative;
}

h1 {
  font-size: 3.15em;
  color: white;
  overflow: hidden;
}

.logo img {
  margin-left: 28px;
  float: left;
}

/* @include outer-container; */
header  {
  width: 100%;
  height: 75px;
  background-color: #666;
/*   position: absolute;
 */
    #campusHead {
      color: white;
      text-transform: uppercase;
    }
  }

a{
  padding: 0;
}

#students {
  max-width: 100%;
  margin: 0;
}

#profile {
  @include outer-container;
}

#start {
  @include position(absolute, 100px null null 50px);
  cursor: pointer;
}

#headline {
  @include position(absolute, 300px null null 100px);
}
