@import 'bourbon';

// Custom Styles
body {
  font-family: helvetica, sans-serif;
  background-image: image_url('stock-footage-blacksmith-strikes-red-hot-iron-sparks-fly-closeup.jpg');
  img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    background-position-x: -300px;
    background-position-y: 30px;
  }
}

.mainWrap  {
  margin: 0 auto;
}

.vidContainer {
position: absolute;

}

section {
  max-width: 90%;
}

.startButton  {
  margin: 15% auto 0px auto;

  img {
    width: 120px;
  }
}

.headline {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 61px;
  color: white;
  float: left;
}

.logo img {
  width: 90px;
  margin-left: 45px;
  margin-top: 42px;
  float: left;
}

.studentContainer img {
  width: 200px;
  float: left;
}

.profileContainer img {
  width: 200px;
  float: left;
}
